@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://old.unapec.edu.do/img/contenido/acad/dec_est_generales/escuelas/sociales/1.jpg" />
</div>

